*, *::before, *::after {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: courier;
    box-sizing: border-box;
}

.container {

}

.grid-center {
    display: grid;
    place-items: center;
}

#navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

#m {
    width: 50%;
}

#m a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 550;
    color: #232323;
}

nav {
    width: 50%;
    min-width: 360px; /* for 3 courier items */
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

#nav-list li {
    padding: 0px 30px;
}

#nav-list-items {
    text-decoration: none;
    color: #232323;
    font-weight: 550;
    font-size: 1rem;
}

#nav-list-items:hover {
    text-decoration: underline;
}

.content {

}

#marcus {
    height: 100vh;
    background-color: #fff;
}

#marcus h2 {
    font-size: 3rem;
    color: #232323;
}

#marcus p {
    color: #333333;
}

.icon-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 10px 0px;
}

.icon-list-items {
    text-decoration: none;
    color: rgba(63,108,206,1);
}


#projects {
    height: 100vh;
    background-color: #f5f5ff;
    display: grid;
    place-items: center;
}

#projects h3 {
    color: #000980;
    font-size: 2.5rem;
}

.project {
    height: 250px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px .5px #333;
}


#contact {
    height: 100vh;
    background-color: #f5f5ff;
    display: grid;
    place-items: center;
}

#contact-grid {
    display: grid;
    grid-template-rows: 100px 500px 50px;
}

#contact-grid h3 {
    text-align: center;
    color: #000980;
    font-size: 2.5rem;
}

form {
    background-color: #fff;
    height: 425px;
    width: 450px;
    display: grid;
    place-items: center;
    grid-template-rows: 25px 75px 75px 200px 50px;
    box-shadow: 0px 0px 15px .5px #333;
}

input {
    height: 30px;
    width: 350px;
    border: none;
    outline: none;
    padding: 0.75rem;
    background-color: #eee;
    font-family: courier;
    font-weight: normal;
}

textarea {
    height: 125px;
    width: 350px;
    border: none;
    outline: none;
    padding: 0.75rem;
    resize: none;
    background-color: #eee;
    font-family: courier;
    font-weight: normal;
}

button {
    border: none;
    color: #fff;
    padding: 0.5rem .75rem;
    cursor: pointer;
    width: 450px;
    height: 50px;
    background: linear-gradient(145deg, rgba(63,108,206,1) 0%, rgba(30,70,150,1) 100%);
}

#x {
    width: 100%;
    justify-content: space-around;
}


/* hamburger */

#hamburger {
    display: none;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #232323;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width: 2000px) {

    #projects {
        padding: 0px 300px;
    }

}

@media (min-width: 1300px) {

    #projects {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
    }

    .project {
        height: 600px;
        width: 400px;
    }
}


@media (max-width: 700px) {

    #navbar {
        padding: 0px 0px;
    }

    nav {
        display: none;
    }

    #hamburger {
        display: inline-block;
    }

}